---
import Section from './Section.astro';
---

<Section>
	<div
		class="font-hand content prose dark:prose-invert prose-code:rounded-lg prose-code:bg-stone-800 prose-code:p-1 prose-code:text-emerald-700 prose-img:rounded-lg prose-img:shadow-xl prose-img:dark:shadow-stone-800 mt-6 max-w-none text-lg leading-8 text-black dark:text-white"
	>
		<slot />
	</div>
</Section>

<!-- Tailwind doesn't fully support some of the complex CSS selectors needed for code highlighting,
     so we need to keep some custom CSS but applied through Tailwind's plugin system -->
<style is:global>
	/* These styles are for code highlighting that can't be easily implemented with just Tailwind */
</style>
