---
import Section from './Section.astro';
import Tags from './Tags.astro';

interface Props {
	models: string[];
}

const { models } = Astro.props;
---

<Section>
	<div class="flex flex-row items-center justify-end pb-4">
		<p class="pr-3 font-mono text-xs">Contenido generado con:</p>
		<div>
			<Tags tags={models} withHref isIA />
		</div>
	</div>
</Section>
