---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<div
	class="mr-3 h-10 w-24 rounded-xl bg-gray-100/50 from-emerald-900 via-lime-600 to-blue-300 p-[1px] shadow-[inset_0_0_0_1px_rgba(255,255,255,0.4)] hover:bg-gradient-to-r"
>
	<a
		href={href}
		target="_blank"
		rel="noopener noreferrer"
		class="flex h-full w-full items-center justify-center rounded-[0.7rem] bg-zinc-200 p-4 text-zinc-900 opacity-90 dark:bg-zinc-800 dark:text-white"
	>
		<slot />
	</a>
</div>
