---
import Tag from './Tag.astro';

interface Props {
	tags: string[];
	withHref?: boolean;
	isIA?: boolean;
}

const { tags, withHref, isIA } = Astro.props;
---

<div class="flex flex-wrap gap-1">
	{tags.map((tag: string) => <Tag tag={tag} withHref={withHref} isIA={isIA} />)}
</div>
